img.graphic {
	width: 17%;
	margin: 2%;
	border: 3px solid #143f85;
}

img.thumbnail {
	width: 90%;
}

.square {
  position: relative;
  width: 17%;
  margin: 2%;
  float: left;
  border: 3px solid black;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  background: #143f85;
}

.insquare {
  position: absolute;
  width: 100%;
  height: 100%;
}

p.title {
	width: 100%;
	background: #402f4f;
	color: powderblue;
	font-size: 33px;
	margin-top: 0px;
}

p.desc {
	width: 100%;
	background: #402f4f;
	color: powderblue;
	font-size: 22px;
    margin-top: 20%;
}
/* NAVBAR */
nav {
	display: block;
	background: #402f4f;
	padding: 1%;
	border-bottom: 4px solid black;
}

nav a {
	padding: 5px;
	margin: 6px;
	font-size: 30px;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 15px;
	background: #143f85;
	color: powderblue;
}

nav a:hover {
	padding: 7px;
	margin: 6px;
	font-size: 30px;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 15px;
	background: powderblue;
	color: #143f85;
}

.active {
	border: 1px solid powderblue;
	border-radius: 15px;
}

.active:hover {
	border: 1px solid powderblue;
	border-radius: 15px;
}
	
/* HOMEPAGE */
div.lpanel {
	float: left;
	margin-left: 10%;
	border: 4px solid white;
}

div.cpanel {
	display: inline-block;
	margin: 0 auto;
	border: 4px solid white; 
}

div.rpanel{
	float: right;
	margin-right: 10%;
	border: 4px solid white;
}
	
div.panels {
	text-align: center;
	margin: auto;
}

.panels > div{
	width: 18%;
	height: 700px;
	background: #081545;
	color: white;
}

.panels > div:hover{
	width: 20%;
	height: 700px;
}

img.panelcover:hover {
	opacity: 0.5;
	width: 100%;
}

img.panelcover {
	border: 2px solid white;
	width: 100%;
}

p.headblurb {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	width: 40%;
	margin: auto;
	padding: 2%;
}

hr {
	border: 20px solid #402f4f;
	border-top: 3px solid black;
}

/* ABOUT ME */
p.abme {
	float: left;
	font-size: 20px;
	margin-left: 4%;
	width: 45%;
}

/* PROJECTS */
div.projects {
	display: block;
	margin: auto;
}


/* CONTACT */
img.portrait {
	width: 10%;
	float: left;
	margin-left: 10%;
	margin-top: 7%
}

ul {
	font-size: 22px;
	margin-right: 8%;
	float: right;
}

div.footer h1 {
	color: #402f4f;
}